
.form-container {
    
    
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
  }

.form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgb(223, 227, 235);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    color: rgb(0, 0, 0);
  }
  
  .input-group input:focus {
    border-color: green;
    
  }

  .sign {
    display: block;
    width: 100%;
    background-color: green;
    padding: 0.75rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
    margin-top: 30px;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  header h2{
    margin: 0 5px 0 5px;
  }

 .elementos{
    margin-top: 20px 10% 0 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
   
    width: 60%;
    position: relative;
    left: 20%;

   
 }

 .filtro{
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    align-items: center;
    justify-content: center;
 }
  
 .back{
    background: url("planta.jpeg") no-repeat;
   background-size:1991px 2816px;
 }

 .texto{
    margin-top: 25px;
    padding:10px;
    width: 80%;
    position: relative;
    left: 10%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    justify-content: center;
    

 }


 .texto h3{
  text-align: center;
 }


 .tex{
    margin-top: 25px;
    display: flex;
    padding:10px;
    width: 80%;
    position: relative;
    left: 10%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
 }

 .def .inf{
  margin-top: 25px;
  padding:10px;
  width: 80%;
  position: relative;
  left: 10%;
 
  border-radius: 20px;


  justify-content: center;
 }

 .inf .cartao{
  width: 60%;
  position: relative;
  left: 20%;
 }

 .tex .minititulo{
 
  width: 30%;

 }

 .destaque a{
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 5px 10% 5px 10%;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.5s;
 }

 .destaque a:hover{
  color: rgb(231, 229, 229);
  background-color: rgb(26, 205, 26);
 }

 .tex h1{
  margin-top: 20%;
  padding: 5px;
 }



 .tex p{
  
  width: 70%;
  display: block;
  text-align: left;
 }

 span{
    color: green;
 }

 p{
    font-size: 18px;
 }

 .carousel{
  width: 60%;
  position: relative;
  left: 20%;
 }

 .back1{
        background-color: #cdbba2;
        padding-top: 50px;
      
 }

 .back2{
    background-color: #d5c7b4;
    padding-top: 50px;
    text-align: center;
 }

 .destaque{

  margin-top: 25px;
  padding:10px;
  width: 80%;
  position: relative;
  left: 10%;
 }



 .destaque h1{
  color: green;
 }

 .cartao {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerUm:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerDois:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerTres:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerQuatro:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer{
  
  background-color: rgb(71, 17, 17);
  padding: 5px;
  color: white;
}

